.top{
  display: flex;
  flex-direction: column;
}
  .header{
  display: flex;
  flex-direction: row;
}
.name{
  flex: 2;
}
.cost{
  flex: 1;
}
.games{
  display: flex;
  margin: 20px;
  padding: 2px;
  border: 5px solid #696969;
  box-shadow: 8px 8px 16px #dddddd;
  flex-direction:column;
}
.games:before{
  content: "games";
  font-weight: bold;
  background: #b22222;
  color: #000000;
}

.game, .games:before{
  flex: 1;
  padding: 0.5em;
}
